<h1>Editar Producto</h1>
<% remder "form", product: @product%>
<a href="/products">Volver</a>

<!--new y edit usan el mismo
 fomulario por que ambos trabajan con un producto: uno
 nuevo y otro existente-->